<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\Locke\u\GitHub\uLab\uLab\LuaEncoder\luajit\luajit.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>D:\Locke\u\GitHub\uLab\uLab\LuaEncoder\luajit</StartWorkingDirectory>
  </propertyGroup>
</Project>